.home {
  text-align: center;
}

.header__logo {
  height: 22vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: header__logo--spin infinite 20s linear;
  }
}

.home__header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home__header > p  {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 22px;
}

.home__link {
  color: #61dafb;
  font-size: 22px;
  text-decoration: none;
}

@keyframes header__logo--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
